h1{
    text-align: center;
    color: #3f538f;
}

.banner{
    background-color: #648761;
    gap: 10px;
    padding: 10px;
    text-align: center;
}

.container{
    display: flex;
    gap: 10px;
    padding: 20px;
}

.first{
    text-align: center;
    width: 25%;
    background-color: #8dc288;
}

.second{
    text-align: center;
    width: 25%;
    background-color: #9dcc99;
}

.third{
    text-align: center;
    width: 25%;
    background-color: #8dc288;
}

.fourth{
    text-align: center;
    width: 25%;
    background-color: #9dcc99;
}

